@font-face {
  font-family: 'sdgothic';
  font-weight: 500;
  src: url('Apple_산돌고딕_Neo/AppleSDGothicNeoL.ttf') format('truetype');
}

@font-face {
  font-family: 'sdgothic';
  font-weight: 300;
  src: url('Apple_산돌고딕_Neo/AppleSDGothicNeoB.ttf') format('truetype');
}

@font-face {
  font-family: 'wind';
  font-weight: 500;
  src: url('둥근바람체/TmoneyRoundWindRegular.ttf') format('truetype');
}