/* 전체 적용 */
html{
  height: 100%; 
}
*{padding:0;margin:0}
main{ background-color: #000000; 
}
ul,ol{list-style:none}
a{text-decoration:none;color:#fff;font-size:15px}
nav{width:100%;overflow:hidden;height:60px;background-color:#000000; }


/* 메인 홈 페이지 헤더 */
#nav1 {
  width: 100%;
  position: relative ;
  display:  flex;
  justify-content: center;
}

#nav1>a {
  display: block; 
  font-size: 40px ;
  position: absolute;
  left: 10px;
} 
#my{ position:absolute;
  top: 10px;    
  right: 5%;}

#logo{
  left: 20px
}

/* 고객센터 */
#callcenter{ position:absolute; 
    top: 14px;    
    right: 9%;}     

#nav1>ul {
  display: inline-block;
}
#nav1>ul li {
  font-family: 'wind';
  font-weight: 500;
  float: left;
  line-height: 60px;
  padding: 0 30px;
}

/* 검색창 테이블 */
nav>input{
  border: 0;
  padding: 0 20px; 
  height: 20px;
  background-color: #ffffff;
  color: #000000;
  position: absolute;
  right: 9.5%;
  top: 30%;
}


/* 카테고리 목록 */
.text1{
  display:flex;  /* 플렉스 컨테이너 지정 */
  padding:20px;
  margin-bottom:30px;
  color:#fff;
  font-size:20px;
  justify-content: center;   
}
.iconbox{
  display:flex;  /* 플렉스 컨테이너 지정 */
  padding: 5% 20%;
  color:#fff;
  font-size:25px;
  justify-content: space-around;
}
.icon > a > img{
  width:130px;
}
.iconbox > p{
  text-align:center;
}
#icontext{
  text-align:center;
  
}

/* 슬라이드 큰거 이미지 */
#pic{
  position:relative;
  width:1920px auto;
  height:700px ;
  /* border:2px solid #ccc; */
  display: flex;
  justify-content: space-between;
  background-repeat: no-repeat;
  align-items: center;
}

.arrow {
  z-index:100;
  font-size:2em;
  padding:10px;
  background:#ddd;
  color:#222;
  opacity:0.2;
}

.arrow:hover {
  opacity:1;
}


/* 슬라이드 작은거 이미지 1*/
.wrap {
  display: flex;
  overflow: hidden;
}
.wrap .rolling-list ul {
  display: flex;
}
.wrap .rolling-list ul li {
  box-sizing: border-box;
  width: 430px;
  height: 602px;
  border-radius: 30px;
  margin: 0 20px;
  padding: 40px 30px;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.wrap .rolling-list ul li:nth-child(1){
  background-color: #000000;
}
.wrap .rolling-list ul li:nth-child(2){
  background-color: #000000;
}
.wrap .rolling-list ul li:nth-child(3) {
  background-color: black;
}
.wrap .rolling-list ul li:nth-child(4) {
  background-color: black;
}
.wrap .rolling-list ul li:nth-child(5) {
  background-color: black;
}

.wrap .rolling-list ul li .image-wrap {
  padding-right: 500px;
  width: 300px;
  flex-shrink: 0;
}
.wrap .rolling-list ul li .image-wrap > img {
  width: 130%;
}
.rolling-list.original {
animation: rollingleft1 100s linear infinite;
}
.rolling-list.clone {
animation: rollingleft2 100s linear infinite;
}

@keyframes rollingleft1 {
0% { transform: translateX(0); }
50% { transform: translateX(-100%); }
50.01% { transform: translateX(100%); }
100% { transform: translateX(0); }
}

@keyframes rollingleft2 {
0% { transition: translateX(0); }
100% { transform: translateX(-200%); }
}

/* 슬라이드 작은거 이미지 2 */
/* .wrap2 {
  display: flex;
  overflow: hidden;
} 
.wrap2 .rolling-list2 ul {
  display: flex;
}
.wrap2 .rolling-list2 ul li {
  box-sizing: border-box;
  width: 430px;
  height: 602px;
  border-radius: 30px;
  margin: 0 20px;
  padding: 40px 30px;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.wrap .rolling-list ul li:nth-child(3){
  background-color: #000000;
}
.wrap .rolling-list ul li:nth-child(4){
  background-color: #000000;
}


.wrap2 .rolling-list2 ul li .image-wrap2 {
  padding-right: 500px;
  width: 300px;
  flex-shrink: 0;
}
.wrap2 .rolling-list2 ul li .image-wrap2 > img {
  width: 120%;
}

.rolling-list2.original2 {
  animation: rollingleft3 50s linear infinite;
  }
  .rolling-list2.clone2 {
  animation: rollingleft4 50s linear infinite;
  }
  
  @keyframes rollingleft3 {
  0% { transform: translateX(0); }
  50% { transform: translateX(-100%); }
  50.01% { transform: translateX(100%); }
  100% { transform: translateX(0); }
  }
  
  @keyframes rollingleft4 {
  0% { transition: translateX(0); }
  100% { transform: translateX(-200%); }
  }
   */


/* FAQ */

.FAQ{
  font-family: 'sdgothic';
  font-weight: 500;
  background-color: #ffffff;
  padding-bottom: 10%;
}
#FAQ-text{
  padding-top: 5%;
  margin: 5%;
  font-size: 25px;
  color: #000000;
  text-align: center;
}

 input[id *="answer"]{
  display: none;
}

 input[id *="answer"] + label{
  left: 25%;
  width: 50%;
  display: block;
  padding:20px;
  border: 1px solid #232188;
  border-bottom:0;
  color:#cbd6da; 
  font-weight:900;
  background:#3634a5;
  cursor:pointer;
  position:relative;  
  /* 화살표 백그라운드 이미지 */

}  
/* 화살표 이미지 */
 input[id *="answer"] + label em {
  position: absolute;
  top: 50%;
  right: 10px;
  width: 30px;
  height: 30px; 
  margin-top: -15px;
  display:inline-block;

  /* 화살표 백그라운드 이미지 */
  background: url("화살표키.png") 0 0 no-repeat;
  background-size: 100% auto; 
}

input[id *="answer"] + label + div {
text-align: center;
max-height: 0;
transition: all .50s;
overflow: hidden;
background: #ffffff;

}
input[id *="answer"] + label + div p{
font-size: 20px;
display: inline-block;
padding:20px; 
  }
input[id *="answer"]:checked + label +div{max-height: 100px;}
input[id *="answer"]:checked + label em{background-position: 0 -30px;}

/* 풋터 클래스 */
footer{
  background-color: #e0dcdc;
  padding-bottom: 1%;
  
}
.footer-side{
  padding-left: 40px;
  height: 15% auto;
}
#foot-top{
  padding-top:  10px;
}
#foot-top>a{
color:#7e7b7b; 
font-size: 15px;
padding: 10px 15px;
width: 50%; 

}
.footer-side>div span{
  color:#7e7b7b; 
  font-size: 15px;
  /* padding:   */
}

#footer-left{
  float: inline-end;
  padding: 0 10% ;
}

